vti_encoding:SR|utf8-nl
mailto\:jim@perham.net:index.html
/mike:index.html
http\://digibug.com/:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Preinstaller:gallery/README.html
gallery/lib/tools/phpunit/index.php:gallery/README.html
http\://www.imagemagick.org/:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Known_Issues:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Multisite:gallery/README.html
http\://www.gulftech.org/:gallery/README.html
http\://codex.gallery2.org/Gallery2\:How_do_I_Install_Gallery2:gallery/README.html
http\://codex.gallery2.org/Gallery2\:FAQ:gallery/README.html
gallery:index.html
http\://codex.gallery2.org/Gallery\:Using_Subversion:gallery/README.html
http\://www.oracle.com/technology/software/index.html:gallery/README.html
http\://sourceforge.net/tracker/:gallery/README.html
http\://www.microsoft.com/WindowsServer2003/iis/default.mspx:gallery/README.html
http\://gallery.menalto.com/dev:gallery/README.html
http\://httpd.apache.org/docs/:gallery/README.html
http\://dean.edwards.name/IE7/:gallery/README.html
http\://www.postgresql.org/:gallery/README.html
http\://www.graphicsmagick.org/:gallery/README.html
http\://www.ibm.com/software/data/db2/:gallery/README.html
http\://www.google-analytics.com/urchin.js:index.html
http\://www.xaraya.com/:gallery/README.html
http\://www.picasa.com/:gallery/README.html
http\://www.microsoft.com/sql/:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Themes:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Embedding:gallery/README.html
http\://codex.gallery2.org/Gallery2\:MSSQL:gallery/README.html
http\://validator.w3.org/check:gallery/README.html
http\://codex.gallery2.org/:gallery/README.html
http\://en.wikipedia.org/wiki/Cross_site_scripting:gallery/README.html
http\://mysql.com/:gallery/README.html
http\://php.net/:gallery/README.html
http\://codex.gallery2.org/Gallery2\:User_Contributions:gallery/README.html
http\://gallery.menalto.com/downloads:gallery/README.html
irc\://chat.freenode.net/:gallery/README.html
http\://openusability.org/:gallery/README.html
http\://www.google.com/webmasters/sitemaps/login:gallery/README.html
http\://netpbm.sourceforge.net:gallery/README.html
http\://www.zeus.com/:gallery/README.html
http\://gallery.menalto.com/node/3017:gallery/README.html
http\://en.wikipedia.org/wiki/Brute_force_attack:gallery/README.html
http\://netpbm.sourceforge.net/:gallery/README.html
http\://www.famfamfam.com/lab/icons/silk/:gallery/README.html
gallery/lib/tools/reports/localization.php:gallery/README.html
http\://us2.php.net/manual/en/features.safe-mode.php:gallery/README.html
http\://www.drupal.org/:gallery/README.html
http\://svn.sourceforge.net/viewvc/gallery/trunk/integration/gallery2/:gallery/README.html
http\://www.google.com/search:gallery/README.html
http\://gallery.menalto.com/forum/11:gallery/README.html
http\://gallery.menalto.com/wiki/Feature_Requests_and_Bug_Reports:gallery/README.html
http\://perhamodyssey.blogspot.com:index.html
http\://codex.gallery2.org/Gallery2\:Localization:gallery/README.html
http\://www.postgresql.org/mirrors-ftp.html:gallery/README.html
http\://www.intershot.com/security/:gallery/README.html
http\://dev.mysql.com/downloads/:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Modules\:webdav:gallery/README.html
http\://www.iis.net/default.aspx:gallery/README.html
http\://jtty.com/GallerySupport:gallery/README.html
http\://en.wikipedia.org/wiki/Cross-site_request_forgery:gallery/README.html
http\://khtml2png.sourceforge.net/:gallery/README.html
http\://gallery.sourceforge.net:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Modules\:httpauth:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Oracle:gallery/README.html
http\://codex.gallery2.org/Gallery2\:DB2:gallery/README.html
http\://httpd.apache.org/docs-2.0/:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Download:gallery/README.html
http\://www.jibble.org/:gallery/README.html
http\://sourceforge.net/projects/gallery/:gallery/README.html
http\://filezilla.sourceforge.net/:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Quick_Start_Guide:gallery/README.html
http\://www.oracle.com/:gallery/README.html
http\://php.net/gd:gallery/README.html
http\://fotokasten.de/:gallery/README.html
http\://en.wikipedia.org/wiki/HTTP_response_splitting:gallery/README.html
http\://codex.gallery2.org/Gallery2\:Security:gallery/README.html
