vti_encoding:SR|utf8-nl
vti_httpdversion:SX|Apache/1.3.27
vti_dependenciesood:IR|0
vti_casesensitiveurls:IX|1
vti_textextensions:SX|.txt.
vti_navbuttonuplabel:SR|Up
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirExec vti_ServerIndexServer vti_ServerODBC vti_ServerASP
vti_ignorekeyboard:IR|0
vti_webservertype:SR|apache-fp
vti_navbuttonnextlabel:SR|Next
vti_timecreated:TR|25 Nov 2000 17:59:55 -0500
vti_navbuttonhomelabel:SR|Home
vti_extenderversion:SR|3.0.2.1117
vti_navbuttonprevlabel:SR|Back
vti_htmlextensions:SX|.htm..shtml.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_longfilenames:IX|1
vti_oldestcompatibleversion:SR|2.0.0.0
vti_welcomenames:VX|index.html
vti_insecureserverurl:SR|http://www.perham.net
vti_disableautoimgsizeexts:SX|.asp
vti_restartmanual:IX|0
vti_defaultcharset:SR|none
vti_defaultlanguage:SR|en
vti_title:SR|jim
