# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName www.perham.net
AuthUserFile /usr/www/users/mperham/_vti_pvt/service.pwd
AuthGroupFile /usr/www/users/mperham/_vti_pvt/service.grp
